/*! Using parts of normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

*, :after, :before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section {
	display: block
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}

audio:not ([controls] ){
	display: none;
	height: 0
}

[hidden], template {
	display: none
}

a {
	background-color: transparent
}

a:active, a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

b, strong {
	font-weight: 700;
	line-height: 1
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not (:root ){
	overflow: hidden
}

figure {
	margin: 0
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit
}

button {
	overflow: visible
}

button, select {
	text-transform: none;
	-moz-appearance: none;
	-webkit-appearance: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled], html input[disabled] {
	cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

[type=checkbox], [type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button
	{
	height: auto
}

[type=search] {
	-webkit-appearance: textfield
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

fieldset, legend {
	border: 0
}

legend {
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td, th {
	padding: 0
}

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility
}

@font-face {
	font-family: MuseoSansRounded;
	src: url(../fonts/MuseoSansRounded-500-webfont.woff2) format("woff2"),
		url(../fonts/MuseoSansRounded-500-webfont.woff) format("woff");
	font-style: normal;
	font-weight: 400
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Light.woff2) format("woff2"),
		url(../fonts/Roboto-Light.woff) format("woff");
	font-style: normal;
	font-weight: 400
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-LightItalic.woff2) format("woff2"),
		url(../fonts/Roboto-LightItalic.woff) format("woff");
	font-style: italic;
	font-weight: 400
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Medium.woff2) format("woff2"),
		url(../fonts/Roboto-Medium.woff) format("woff");
	font-style: normal;
	font-weight: 700
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-MediumItalic.woff2) format("woff2"),
		url(../fonts/Roboto-MediumItalic.woff) format("woff");
	font-style: italic;
	font-weight: 700
}

html {
	height: 100%;
	min-width: 300px;
	overflow-y: scroll
}

body {
	background: #fff;
	color: #333;
	font: 16px/24px Roboto, Arial, Helvetica, sans-serif
}

address, blockquote, dl, figure, form, h1, h2, h3, h4, h5, h6, ol, p,
	pre, table, ul {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	margin: 0 auto 12px
}

.site.-full-width address, .site.-full-width blockquote, .site.-full-width dl,
	.site.-full-width figure, .site.-full-width form, .site.-full-width h1,
	.site.-full-width h2, .site.-full-width h3, .site.-full-width h4, .site.-full-width h5,
	.site.-full-width h6, .site.-full-width ol, .site.-full-width p, .site.-full-width pre,
	.site.-full-width table, .site.-full-width ul {
	max-width: none
}

a {
	-webkit-transition: border .2s, color .2s;
	transition: border .2s, color .2s;
	border-bottom: 1px solid #ccc;
	color: #494e7d;
	text-decoration: none;
	word-wrap: break-word
}

a:active, a:focus, a:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	border-color: #333758;
	color: #333758
}

abbr {
	cursor: help
}

address {
	font-style: normal
}

blockquote {
	background: rgba(0, 0, 0, .06);
	border-radius: 2px;
	color: #707070;
	font-style: italic;
	padding: 12px;
	position: relative;
	text-shadow: 0 1px 0 hsla(0, 0%, 100%, .18)
}

@media ( max-width :719px) {
	blockquote {
		padding: 12px
	}
}

blockquote>footer {
	font-size: 14px;
	font-style: normal;
	text-align: right
}

blockquote>footer>cite:before {
	content: "\2014\00a0"
}

cite {
	color: #707070;
	font-style: normal
}

code {
	background: rgba(0, 0, 0, .06);
	border-radius: 2px;
	line-height: 1.5
}

code, figcaption {
	font-size: 14px
}

figure {
	max-width: 960px;
	position: relative
}

h1 {
	font-size: 25px;
	line-height: 36px;
	color: #213365;
	font-family: MuseoSansRounded, Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin: 0 auto 24px
}

h1:nth-child(n+2) {
	margin-top: 36px
}

h2 {
	font-size: 20px;
	line-height: 24px;
	color: #727299;
	font-family: MuseoSansRounded, Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin: 24px auto 12px
}

h3 {
	color: #727299;
	font: inherit
}

h3, h4 {
	letter-spacing: 1px;
	margin: 24px auto 12px;
	text-transform: uppercase
}

h4 {
	font-weight: 700
}

h4, h5 {
	color: #707070;
	font-size: 14px;
	line-height: 24px
}

h5 {
	font-weight: 400;
	margin: 12px auto;
	letter-spacing: 1px;
	text-transform: uppercase
}

h6 {
	color: #707070;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	margin: 23px auto 24px
}

img {
	border-radius: 2px;
	display: block;
	max-width: 100%
}

img[height], img[width] {
	max-width: none
}

p:after, p:before {
	content: " ";
	display: table
}

p:after {
	clear: both
}

pre {
	background: rgba(0, 0, 0, .06);
	border-radius: 2px;
	font-size: 14px;
	line-height: 1.5;
	overflow: auto;
	padding: 12px
}

pre>code {
	background: none;
	display: inline-block;
	line-height: inherit
}

small {
	font-size: .875em;
	line-height: 16px
}

form p:last-child {
	margin-bottom: 0
}

legend {
	letter-spacing: 1px;
	line-height: 24px;
	margin: 24px auto 12px;
	text-transform: uppercase;
	display: block;
	text-align: left;
	width: 100%
}

label:not (.sr-only ), legend {
	color: #707070;
	font-size: 14px;
	font-weight: 700
}

label:not (.sr-only ){
	-webkit-transition: color .2s, text-shadow .2s;
	transition: color .2s, text-shadow .2s;
	background: #fff;
	cursor: pointer
}

label:not (.sr-only ):active, label:not (.sr-only ):focus, label:not (.sr-only
	):hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

label:not (.sr-only ).-focus {
	color: #333758;
	-webkit-transition: none;
	transition: none
}

[type=checkbox]+label:not (.sr-only ), [type=radio]+label:not (.sr-only
	){
	color: #333;
	display: block;
	float: none;
	font-size: 16px;
	font-weight: 400
}

[type=button], [type=submit], button, input, select, textarea {
	-webkit-transition: border-color .2s, -webkit-box-shadow .2s;
	transition: border-color .2s, -webkit-box-shadow .2s;
	transition: border-color .2s, box-shadow .2s;
	transition: border-color .2s, box-shadow .2s, -webkit-box-shadow .2s;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	font: inherit;
	font-weight: 400;
	padding: 11px;
	vertical-align: middle;
	width: 100%
}

[type=button]:active, [type=button]:focus, [type=button]:hover, [type=submit]:active,
	[type=submit]:focus, [type=submit]:hover, button:active, button:focus,
	button:hover, input:active, input:focus, input:hover, select:active,
	select:focus, select:hover, textarea:active, textarea:focus, textarea:hover
	{
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

[type=button]:focus, [type=submit]:focus, button:focus, input:focus,
	select:focus, textarea:focus {
	border-color: #333758
}

[type=button], [type=submit], button {
	font-family: MuseoSansRounded, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: .5px;
	text-transform: uppercase;
	-webkit-transition: background .2s;
	transition: background .2s;
	background: #494e7d;
	border: 0;
	border-radius: 2px;
	display: inline-block;
	min-height: 48px;
	min-width: 48px;
	padding: 12px;
	text-align: center;
	width: auto;
	color: #fff
}

[type=button]:active, [type=button]:focus, [type=button]:hover, [type=submit]:active,
	[type=submit]:focus, [type=submit]:hover, button:active, button:focus,
	button:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	background: #3e426a
}

input:focus, select:focus, textarea:focus {
	outline: 0
}

select {
	background: #fff
		url("data:image/svg+xml;charset=utf-8,%3Csvg height='9' width='29' viewBox='0 0 22 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ccc' d='M0 2l7 7 7-7-2-2-5 5-5-5z'/%3E%3C/svg%3E")
		100% no-repeat;
	cursor: pointer;
	padding-right: 36px
}

select:focus {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg height='9' width='29' viewBox='0 0 22 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23333758' d='M0 2l7 7 7-7-2-2-5 5-5-5z'/%3E%3C/svg%3E")
}

[type=checkbox], [type=radio] {
	opacity: 0;
	position: absolute;
	z-index: -1;
	width: 0
}

[type=checkbox]+label:not (.sr-only ), [type=radio]+label:not (.sr-only
	){
	margin: 0;
	padding: 0 0 0 30px
}

[type=checkbox]+label:not (.sr-only ):before, [type=radio]+label:not (.sr-only
	):before {
	-webkit-transition: background .2s, border .2s;
	transition: background .2s, border .2s;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0 2px #fff;
	box-shadow: inset 0 0 0 2px #fff;
	content: "";
	cursor: pointer;
	display: inline-block;
	height: 1em;
	margin: -1px 12px 0 -30px;
	vertical-align: middle;
	width: 1em
}

[type=checkbox]+label:not (.sr-only ):before:active, [type=checkbox]+label:not
	(.sr-only ):before:focus, [type=checkbox]+label:not (.sr-only ):before:hover,
	[type=radio]+label:not (.sr-only ):before:active, [type=radio]+label:not
	(.sr-only ):before:focus, [type=radio]+label:not (.sr-only ):before:hover
	{
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

[type=checkbox]:checked+label:before, [type=radio]:checked+label:before
	{
	background: #494e7d;
	-webkit-transition: none;
	transition: none
}

[type=checkbox]:focus+label:before, [type=radio]:focus+label:before {
	border-color: #333758
}

[type=radio]+label:not (.sr-only ):before {
	border-radius: 50%
}

::-webkit-input-placeholder {
	color: #707070;
	opacity: 1
}

:-ms-input-placeholder {
	color: #707070;
	opacity: 1
}

::-ms-input-placeholder {
	color: #707070;
	opacity: 1
}

::placeholder {
	color: #707070;
	opacity: 1
}

dt {
	color: #707070;
	font-weight: 700
}

dd {
	margin-left: 2rem
}

dd+dt {
	margin-top: 24px
}

ol, ul {
	padding-left: 2rem
}

ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0
}

ol {
	list-style: decimal
}

ul {
	list-style: none
}

ul>li:before {
	background: #494e7d;
	border-radius: 2px;
	content: "";
	height: 6px;
	margin: .75em 0 0 -.5em;
	position: absolute;
	-webkit-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
	width: 6px
}

li>p {
	margin-bottom: 0
}

table {
	width: 100%
}

caption {
	color: #707070;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 24px;
	margin: 24px auto 12px;
	text-transform: uppercase;
	margin-top: 0;
	text-align: left
}

tr {
	border-bottom: 1px solid #ccc
}

td, th {
	padding: 6px .5em 5px;
	text-align: left
}

th {
	color: #707070
}

.account {
	color: #fff;
	float: left
}

.account_item:before {
	content: none
}

.account_link {
	background: none;
	border-radius: 0;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	min-width: 60px;
	padding: 18px 12px;
	text-align: center;
	border-radius: 2px;
	display: block;
	padding: 12px;
	text-align: left
}

.account_link:active, .account_link:focus, .account_link:hover {
	background: hsla(0, 0%, 100%, .06);
	color: #fff
}

@media ( max-width :1247px) {
	.account_link {
		min-width: 48px;
		padding: 12px
	}
}

.account_link>.icon {
	margin: 0 .2em 0 0
}

.account_link.-logout>.icon {
	top: -1px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.account_list {
	clip: rect(0, 9999px, 9999px, -9999px);
	-webkit-transition: opacity .2s, visibility .2s;
	transition: opacity .2s, visibility .2s;
	background: #494e7d;
	border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0 1.5px 6px rgba(0, 0, 0, .18);
	box-shadow: 0 1.5px 6px rgba(0, 0, 0, .18);
	opacity: 0;
	padding: 12px;
	position: absolute;
	visibility: hidden;
	z-index: 9;
	right: 0
}

.account_list:active, .account_list:focus, .account_list:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

.account_list.-open {
	opacity: 1;
	visibility: visible;
	z-index: 9
}

.account_logged-in-as {
	display: block;
	font-size: 14px;
	padding: 6px 12px 0
}

.account_name {
	color: #fff;
	display: block;
	font-weight: 700;
	padding: 0 12px 6px
}

.account_toggle {
	border: 0;
	color: #fff;
	cursor: pointer;
	-webkit-transition: background .2s;
	transition: background .2s;
	background: none;
	border-radius: 0;
	display: inline-block;
	padding: 18px 12px;
	min-width: 60px;
	text-align: center
}

.account_toggle:active, .account_toggle:focus, .account_toggle:hover {
	background: hsla(0, 0%, 100%, .06);
	color: #fff
}

@media ( max-width :1247px) {
	.account_toggle {
		min-width: 48px;
		padding: 12px
	}
}

.account_toggle:active, .account_toggle:focus, .account_toggle:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

@media ( max-width :719px) {
	.account_toggle {
		min-width: 48px;
		padding: 12px
	}
}

.account_toggle.-logged-in>.icon {
	top: -1px
}

.account_toggle.-logged-out>.icon {
	left: -2px;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	top: -1px
}

.account_toggle.-open {
	background: #494e7d;
	-webkit-box-shadow: none;
	box-shadow: none
}

.blog_footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px
}

.site.-full-width .blog_footer {
	max-width: none
}

.blog_header {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	margin-bottom: 24px
}

.site.-full-width .blog_header {
	max-width: none
}

.blog_notice {
	color: #707070;
	text-align: center
}

.blog_row {
	-webkit-box-shadow: inset 12px 0 0 #fff, inset -12px 0 0 #fff, inset 0
		-1px #ccc;
	box-shadow: inset 12px 0 0 #fff, inset -12px 0 0 #fff, inset 0 -1px #ccc;
	display: table;
	margin: 0 -12px 24px;
	padding: 12px 0;
	table-layout: fixed;
	width: calc(100% + 24px)
}

.blog_row+.blog_row {
	margin-top: -24px
}

@media ( max-width :1023px) {
	.blog_row {
		-webkit-box-shadow: none;
		box-shadow: none;
		display: block;
		margin: 0 0 24px;
		width: 100%
	}
}

.footer {
	background: #f7f7f7 url(../img/grain.png);
	color: #1a1a1a;
	font-size: 14px;
	padding: 12px 24px;
	text-shadow: 0 1px hsla(0, 0%, 100%, .18)
}

@media ( max-width :1023px) {
	.footer {
		padding: 12px
	}
}

.footer p {
	max-width: none
}

.footer_left {
	float: left;
	width: 61.8%
}

@media ( max-width :719px) {
	.footer_left {
		text-align: center;
		width: 100%
	}
}

.footer_left a {
	border-color: transparent
}

.footer_left a:active, .footer_left a:focus, .footer_left a:hover {
	border-bottom: 1px solid #333758
}

.footer_left a+a {
	margin-left: 1em
}

.footer_left>:last-child {
	margin-bottom: 0
}

.footer_right {
	float: right;
	text-align: right;
	width: 38.2%
}

@media ( max-width :719px) {
	.footer_right {
		margin-top: 24px;
		text-align: center;
		width: 100%
	}
}

.footer_right a {
	-webkit-transition: background .2s;
	transition: background .2s;
	border: 0;
	border-radius: 2px;
	float: right;
	margin: -6px 0;
	padding: 6px
}

.footer_right a:active, .footer_right a:focus, .footer_right a:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

@media ( max-width :719px) {
	.footer_right a {
		display: inline-block;
		float: none;
		margin-bottom: -12px
	}
}

.footer_right a:active, .footer_right a:focus, .footer_right a:hover {
	background: rgba(0, 0, 0, .06)
}

.footer_right>:last-child {
	margin-bottom: 0
}

.header {
	background: #213365;
	padding: 0 12px;
	position: relative
}

.header:after, .header:before {
	content: " ";
	display: table
}

.header:after {
	clear: both
}

@media ( max-width :1247px) {
	.header {
		padding: 0
	}
}

.header.-nav-open {
	z-index: 9
}

@media ( max-width :1247px) {
	.header.-nav-open {
		z-index: 0
	}
}

.header_aside {
	padding: 0 0 0 6px;
	position: absolute;
	right: 124px;
	top: 0
}

.header_aside:before {
	border-left: 1px solid rgba(0, 0, 0, .12);
	border-right: 1px solid hsla(0, 0%, 100%, .12);
	content: "";
	height: 100%;
	margin: 0 0 0 -1px;
	position: absolute;
	-webkit-transform: none;
	transform: none;
	width: 0;
	left: 0
}

@media ( max-width :1247px) {
	.header_aside {
		right: 60px
	}
}

.highlight {
	background: #f7f7f7 url(../img/grain.png);
	color: #1a1a1a;
	margin: 0 -24px;
	padding: 12px;
	text-shadow: 0 1px hsla(0, 0%, 100%, .18)
}

@media ( max-width :1247px) {
	.highlight {
		padding: 6px 18px
	}
}

@media ( max-width :1023px) {
	.highlight {
		margin: 0 -12px;
		padding: 6px
	}
}

.highlight p {
	font-size: 20px;
	line-height: 24px;
	clear: both;
	line-height: 32px;
	text-align: left;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	padding: 6px 0;
	position: relative
}

@media ( max-width :1247px) {
	.highlight p {
		font-size: 16px;
		line-height: 24px;
		max-width: 1015.99992px
	}
}

@media ( max-width :1068px) {
	.highlight p {
		padding: 6px
	}
}

@media ( max-width :1023px) {
	.highlight p {
		max-width: 732px
	}
}

.language {
	float: left;
	position: relative
}

.language_toggle {
	background: none;
	border-radius: 0;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	min-width: 60px;
	padding: 18px 12px;
	text-align: center;
	-webkit-transition: background .2s;
	transition: background .2s;
	font: inherit;
	text-transform: none
}

.language_toggle:active, .language_toggle:focus, .language_toggle:hover
	{
	background: hsla(0, 0%, 100%, .06);
	color: #fff
}

@media ( max-width :1247px) {
	.language_toggle {
		min-width: 48px;
		padding: 12px
	}
}

.language_toggle:active, .language_toggle:focus, .language_toggle:hover
	{
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

@media ( max-width :719px) {
	.language_toggle {
		padding: 12px
	}
}

.language_toggle.-open {
	background: #494e7d;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0
}

.language_toggle .icon {
	margin: 0 .2em 0 0;
	top: -1px
}

.language_toggle .icon+.icon {
	margin: 0 0 0 .2em
}

@media ( max-width :479px) {
	.language_label.-large {
		display: none
	}
}

.language_label.-small {
	display: none;
	font-family: MuseoSansRounded, Arial, Helvetica, sans-serif;
	text-transform: uppercase
}

@media ( max-width :479px) {
	.language_label.-small {
		display: inline
	}
}

.language_list {
	clip: rect(0, 9999px, 9999px, -9999px);
	-webkit-transition: opacity .2s, visibility .2s;
	transition: opacity .2s, visibility .2s;
	background: #494e7d;
	border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0 1.5px 6px rgba(0, 0, 0, .18);
	box-shadow: 0 1.5px 6px rgba(0, 0, 0, .18);
	opacity: 0;
	padding: 12px;
	position: absolute;
	visibility: hidden;
	z-index: 9;
	left: 0;
	min-width: 100%
}

.language_list:active, .language_list:focus, .language_list:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

.language_list.-open {
	opacity: 1;
	visibility: visible;
	z-index: 9
}

.language_link {
	background: none;
	border-radius: 0;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	min-width: 60px;
	padding: 18px 12px;
	text-align: center;
	border-radius: 2px;
	display: block;
	padding: 12px;
	text-align: left
}

.language_link:active, .language_link:focus, .language_link:hover {
	background: hsla(0, 0%, 100%, .06);
	color: #fff
}

@media ( max-width :1247px) {
	.language_link {
		min-width: 48px;
		padding: 12px
	}
}

.language_item:before {
	content: none
}

.logo {
	font-size: 48px;
	margin: 0 auto !important;
	text-align: center
}

.logo a {
	border: 0
}

.logo_link {
	display: inline-block;
	margin: 0 auto;
	padding: 0 24px;
	position: relative;
	z-index: 1
}

.logo_link.-aai {
	height: 72px;
	padding: 0
}

.logo_link.-small {
	height: 48px
}

.logo_link.-small:after {
	background: #fff;
	bottom: -17px;
	content: "";
	display: block;
	width: 100%;
	height: 20px;
	position: absolute
}

.logo_logo {
	display: block;
	pointer-events: none;
	position: relative
}

.logo_logo.-aai {
	max-height: 72px;
	margin-top: -12px;
	max-width: 100%
}

.logo_logo.-large {
	height: 144px;
	left: -23px;
	margin: -9px 0 0;
	width: 303px
}

@media ( max-width :719px) {
	.logo_logo.-large {
		height: 108px;
		left: -17px;
		margin: -6px 0 -12px;
		width: 227px
	}
}

.logo_logo.-small {
	height: 72px;
	left: -10px;
	margin: -6px 0 0;
	width: 151px
}

.logo_logo.-spike {
	fill: #fff;
	margin: 0 24px;
	position: absolute;
	stroke: #fff;
	z-index: -1
}

.logo_logo.-spike.-aai {
	margin: 0;
	stroke-width: 12px;
	top: -13px
}

.logo_logo.-spike.-large {
	stroke-width: 12px;
	top: -17px
}

@media ( max-width :719px) {
	.logo_logo.-spike.-large {
		stroke-width: 18px;
		top: -11px
	}
}

.logo_logo.-spike.-small {
	stroke-width: 18px;
	top: -9px
}

.main {
	-webkit-transition: -webkit-filter .2s;
	transition: -webkit-filter .2s;
	transition: filter .2s;
	transition: filter .2s, -webkit-filter .2s;
	overflow: hidden;
	padding: 24px;
	position: relative;
	z-index: 1
}

.main:active, .main:focus, .main:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

@media ( max-width :1023px) {
	.main {
		padding: 24px 12px
	}
}

.main button {
	min-width: 135px
}

.main_button {
	font-family: MuseoSansRounded, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: .5px;
	text-transform: uppercase;
	-webkit-transition: background .2s;
	transition: background .2s;
	border: 1px solid #494e7d;
	border-radius: 2px;
	display: inline-block;
	margin: 0 auto;
	padding: 11px 23px
}

.main_button:active, .main_button:focus, .main_button:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	background: rgba(0, 0, 0, .06)
}

.main_button:active {
	background: rgba(0, 0, 0, .12)
}

.main_button>.icon {
	margin: -1px -5px 1px 0
}

.main_content.-narrow {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px
}

.site.-full-width .main_content.-narrow {
	max-width: none
}

.main_notice {
	-webkit-box-shadow: inset 0 0 1px #333;
	box-shadow: inset 0 0 1px #333;
	color: #707070;
	border-radius: 2px;
	display: inline-block;
	font-size: 14px;
	margin: 6px auto 18px;
	padding: 6px 12px;
	position: relative;
	top: -12px
}

.main_notice.-big {
	display: block;
	font-size: 16px;
	font-weight: 700;
	margin: 0 auto 24px;
	padding: 12px 24px;
	text-align: center;
	top: 0
}

.main_notice.-error {
	background: rgba(101, 33, 34, .12);
	-webkit-box-shadow: inset 0 0 1px #652122;
	box-shadow: inset 0 0 1px #652122;
	color: #652122
}

.main_notice.-success {
	background: rgba(68, 101, 33, .12);
	-webkit-box-shadow: inset 0 0 1px #446521;
	box-shadow: inset 0 0 1px #446521;
	color: #446521
}

.main_notice.-warning {
	background: rgba(101, 83, 33, .12);
	-webkit-box-shadow: inset 0 0 1px #655321;
	box-shadow: inset 0 0 1px #655321;
	color: #655321
}

.main_title {
	text-align: center
}

.main_title:before {
	background: #727299;
	border-radius: 1.5px;
	content: "";
	display: block;
	height: 3px;
	margin: -11px auto 0;
	width: 240px
}

.main_title>h1 {
	margin: 24px auto;
	position: relative;
	top: 3px
}

.nav_item:before {
	content: none
}

.nav_item.-level-1 {
	display: table-cell
}

@media ( max-width :1247px) {
	.nav_item.-level-1 {
		display: block
	}
}

@media ( max-width :1247px) {
	.nav_item.-level-1.-home {
		display: none
	}
}

.nav_item.-level-2 {
	display: table-cell;
	float: none;
	margin: 0 6px 0 0;
	padding: 0 6px;
	position: relative
}

@media ( max-width :1247px) {
	.nav_item.-level-2 {
		display: block;
		margin: 0;
		padding: 0
	}
}

.nav_item.-level-2+.nav_item.-level-2:before {
	border-left: 1px solid rgba(0, 0, 0, .12);
	border-right: 1px solid hsla(0, 0%, 100%, .12);
	content: "";
	height: 100%;
	margin: 0 0 0 -1px;
	position: absolute;
	-webkit-transform: none;
	transform: none;
	width: 0;
	left: 0
}

@media ( max-width :1247px) {
	.nav_item.-level-2+.nav_item.-level-2:before {
		content: none
	}
}

.nav_item.-level-2:first-child {
	padding-left: 0
}

.nav_item.-level-2:last-child {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-right: 0
}

@media ( max-width :1247px) {
	.nav_list.-portal .nav_item.-level-2:nth-child(n+2) {
		margin-top: 24px
	}
}

.nav_item.-level-3 {
	float: none
}

.nav_link {
	background: none;
	border-radius: 0;
	border: 0;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	-webkit-transition: background .2s, color .2s;
	transition: background .2s, color .2s;
	color: #fff;
	display: block;
	min-width: 60px;
	padding: 18px 12px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.nav_link:active, .nav_link:focus, .nav_link:hover {
	background: hsla(0, 0%, 100%, .06);
	color: #fff
}

@media ( max-width :1247px) {
	.nav_link {
		min-width: 48px;
		padding: 12px
	}
}

.nav_link:active, .nav_link:focus, .nav_link:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

@media ( max-width :1247px) {
	.nav_link {
		text-align: left
	}
}

.nav_item.-level-1>.nav_link>.icon {
	margin-left: .2em;
	top: -1px
}

.nav_item.-level-1.-current-ancestor>.nav_link, .nav_item.-level-1.-current>.nav_link
	{
	background: hsla(0, 0%, 100%, .12)
}

.nav_item.-level-1.-current-ancestor>.nav_link:active, .nav_item.-level-1.-current-ancestor>.nav_link:focus,
	.nav_item.-level-1.-current-ancestor>.nav_link:hover, .nav_item.-level-1.-current>.nav_link:active,
	.nav_item.-level-1.-current>.nav_link:focus, .nav_item.-level-1.-current>.nav_link:hover
	{
	background: hsla(0, 0%, 100%, .18)
}

.nav_item.-level-1.-open>.nav_link {
	background: #494e7d;
	outline: 0;
	z-index: 9
}

.nav_item.-level-1.-open>.nav_link:active, .nav_item.-level-1.-open>.nav_link:focus,
	.nav_item.-level-1.-open>.nav_link:hover {
	background: #494e7d;
	-webkit-box-shadow: none;
	box-shadow: none
}

@media ( max-width :1247px) {
	.nav_item.-level-1.-open>.nav_link:active, .nav_item.-level-1.-open>.nav_link:focus,
		.nav_item.-level-1.-open>.nav_link:hover {
		background: hsla(0, 0%, 100%, .06)
	}
}

.nav_item.-level-1.-open>.nav_link>.icon {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg)
}

.nav_item.-level-2>.nav_link {
	font-size: 20px;
	line-height: 24px;
	font-family: MuseoSansRounded, Arial, Helvetica, sans-serif
}

@media ( max-width :1247px) {
	.nav_item.-level-2>.nav_link {
		font-size: 16px
	}
}

.nav_item.-level-2 .nav_link {
	border-radius: 2px;
	padding: 12px;
	text-align: left
}

.nav_item.-level-2 .nav_link.-current {
	background: hsla(0, 0%, 100%, .12)
}

.nav_item.-level-2 .nav_link.-current:active, .nav_item.-level-2 .nav_link.-current:focus,
	.nav_item.-level-2 .nav_link.-current:hover {
	background: hsla(0, 0%, 100%, .18)
}

.nav_item.-level-2 .nav_link>img {
	-webkit-filter: grayscale(1) brightness(9);
	filter: grayscale(1) brightness(9);
	float: left;
	margin: 0 12px 0 0;
	vertical-align: middle;
	width: 24px
}

.nav_list>.nav_item.-level-1:first-child>.nav_link>.icon {
	margin-left: 0;
	top: -2px
}

.nav_list {
	margin: 0;
	max-width: none;
	padding: 0
}

.nav_list:after, .nav_list:before {
	content: " ";
	display: table
}

.nav_list:after {
	clear: both
}

.nav-collapsed .nav_list {
	background: #333
}

.nav_list.-level-1 {
	float: left;
	display: table;
	max-width: 1200px
}

@media ( max-width :1247px) {
	.nav_list.-level-1 {
		float: none;
		width: 100%
	}
}

.nav_list.-level-2 {
	clip: rect(0, 9999px, 9999px, -9999px);
	-webkit-transition: opacity .2s, visibility .2s;
	transition: opacity .2s, visibility .2s;
	background: #494e7d;
	border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0 1.5px 6px rgba(0, 0, 0, .18);
	box-shadow: 0 1.5px 6px rgba(0, 0, 0, .18);
	opacity: 0;
	padding: 12px;
	position: absolute;
	visibility: hidden;
	z-index: 9;
	left: 0;
	right: 0
}

.nav_list.-level-2:active, .nav_list.-level-2:focus, .nav_list.-level-2:hover
	{
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

.nav_list.-level-2.-open {
	opacity: 1;
	visibility: visible;
	z-index: 9
}

@media ( max-width :1247px) {
	.nav_list.-level-2 {
		-webkit-transition: opacity .2s;
		transition: opacity .2s;
		-webkit-box-shadow: none;
		box-shadow: none;
		height: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		visibility: none
	}
	.nav_list.-level-2:after {
		border-top: 1px solid rgba(0, 0, 0, .12);
		border-bottom: 1px solid hsla(0, 0%, 100%, .12);
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%
	}
	.nav_list.-level-2:active, .nav_list.-level-2:focus, .nav_list.-level-2:hover
		{
		-webkit-transition-duration: 0s;
		transition-duration: 0s
	}
	.nav_list.-level-2.-open, .nav_list.-level-2.-portal {
		height: auto;
		opacity: 1;
		visibility: visible
	}
}

.nav_list.-level-3 {
	margin-left: 36px
}

.nav_list.-portal {
	display: block;
	left: auto;
	right: 0;
	top: 60px;
	white-space: nowrap
}

@media ( max-width :1247px) {
	.nav_list.-portal {
		-webkit-box-shadow: none;
		box-shadow: none;
		position: relative;
		top: 0;
		z-index: 0
	}
}

.nav_list.-portal ul {
	margin: 0;
	padding: 0
}

.nav_menu.-open .nav_list.-portal {
	opacity: 1;
	visibility: visible
}

.nav_logo {
	display: inline;
	float: none;
	height: 27px;
	margin: -6px 0;
	position: relative;
	top: -9px;
	vertical-align: middle;
	width: auto
}

@media ( max-width :1247px) {
	.nav_logo.-large {
		display: none
	}
}

.nav_logo.-small {
	display: none;
	width: 24px
}

@media ( max-width :1247px) {
	.nav_logo.-small {
		display: inline;
		top: -1px
	}
}

.nav_menu {
	float: left
}

@media ( max-width :1247px) {
	.nav_menu {
		-webkit-transition: opacity .2s;
		transition: opacity .2s;
		background: #494e7d;
		clear: both;
		float: none;
		height: 0;
		opacity: 0;
		overflow: hidden;
		visibility: hidden
	}
	.nav_menu:active, .nav_menu:focus, .nav_menu:hover {
		-webkit-transition-duration: 0s;
		transition-duration: 0s
	}
	.nav_menu.-open {
		height: auto;
		opacity: 1;
		visibility: visible
	}
}

.nav_menu.-portal h2 {
	color: #fff;
	margin: 12px 12px 24px
}

.nav_menu.-portal h2 a {
	margin: -12px;
	padding: 12px
}

.nav_menu.-portal hr {
	border-top: 1px solid rgba(0, 0, 0, .12);
	border-bottom: 1px solid hsla(0, 0%, 100%, .12);
	margin: 6px
}

.nav_toggle {
	background: none;
	border: 0;
	border-radius: 0;
	color: #fff;
	float: left;
	padding: 18px 12px
}

.nav_toggle:active, .nav_toggle:focus, .nav_toggle:hover {
	background: hsla(0, 0%, 100%, .06);
	color: #fff
}

@media ( max-width :1247px) {
	.nav_toggle {
		padding: 12px
	}
}

.nav_toggle.-main {
	display: none
}

@media ( max-width :1247px) {
	.nav_toggle.-main {
		display: block
	}
}

.nav_toggle.-open {
	background: #494e7d;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0
}

.nav_toggle.-portal {
	display: block;
	white-space: nowrap;
	position: absolute;
	right: 0;
	top: 0
}

.nav_toggle.-portal:before {
	border-left: 1px solid rgba(0, 0, 0, .12);
	border-right: 1px solid hsla(0, 0%, 100%, .12);
	content: "";
	height: 100%;
	margin: 0 0 0 -1px;
	position: absolute;
	-webkit-transform: none;
	transform: none;
	width: 0
}

.nav_toggle.-portal.-open {
	background: #494e7d;
	-webkit-box-shadow: none;
	box-shadow: none
}

.nav_toggle.-portal.-open>.icon {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg)
}

.nav_toggle.-portal:before {
	left: -6px;
	top: 0
}

.nav_toggle.-portal>.icon {
	margin: 0 0 0 .2em;
	top: -1px
}

@media ( max-width :1247px) {
	.nav_toggle.-portal>.icon {
		display: none
	}
}

.nav_toggle>.icon {
	margin: 0 .2em 0 0;
	top: -1px
}

.post.-image .post_excerpt, .post.-image .post_header, .post.-image .post_title
	{
	margin-left: 204px
}

@media ( max-width :1247px) {
	.post.-image .post_excerpt, .post.-image .post_header, .post.-image .post_title
		{
		margin-left: 168px
	}
}

@media ( max-width :1023px) {
	.post.-image .post_excerpt, .post.-image .post_header, .post.-image .post_title
		{
		margin-left: 132px
	}
}

@media ( max-width :479px) {
	.post.-image .post_excerpt, .post.-image .post_header, .post.-image .post_title
		{
		margin-left: 0
	}
}

.post {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	border: 0;
	border-radius: 2px;
	color: #333;
	display: table-cell;
	padding: 12px
}

.post:after, .post:before {
	content: " ";
	display: table
}

.post:after {
	clear: both
}

.site.-full-width .post {
	max-width: none
}

.post:active, .post:focus, .post:hover {
	color: #333
}

@media ( max-width :1023px) {
	.post {
		display: block;
		-webkit-box-shadow: 0 1px #ccc;
		box-shadow: 0 1px #ccc;
		padding: 12px 0;
		width: auto
	}
}

.post_author {
	margin-left: .5em
}

.post_author, .post_date {
	color: #707070;
	font-size: 14px;
	line-height: 1
}

.post_date {
	font-weight: 700
}

.post_header {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	margin: -6px 0 6px
}

.site.-full-width .post_header {
	max-width: none
}

.post_header.-single {
	margin: -6px auto 24px;
	text-align: center
}

.post_image {
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
	float: left;
	margin-left: -204px;
	width: 180px
}

.post_image:active, .post_image:focus, .post_image:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

@media ( max-width :1247px) {
	.post_image {
		margin-left: -168px;
		width: 156px
	}
}

@media ( max-width :1023px) {
	.post_image {
		margin-left: -132px;
		width: 120px
	}
}

@media ( max-width :479px) {
	.post_image {
		display: none
	}
}

.post:active .post_image, .post:focus .post_image, .post:hover .post_image
	{
	opacity: .9
}

.post_more {
	white-space: nowrap
}

.post_title {
	-webkit-transition: color .2s;
	transition: color .2s;
	margin: 0 0 12px
}

.post_title:active, .post_title:focus, .post_title:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

.post:active .post_title, .post:focus .post_title, .post:hover .post_title
	{
	color: #333758
}

.search {
	float: left
}

.search_form {
	clip: rect(0, 9999px, 9999px, -9999px);
	-webkit-transition: opacity .2s, visibility .2s;
	transition: opacity .2s, visibility .2s;
	background: #494e7d;
	border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0 1.5px 6px rgba(0, 0, 0, .18);
	box-shadow: 0 1.5px 6px rgba(0, 0, 0, .18);
	opacity: 0;
	padding: 12px;
	position: absolute;
	visibility: hidden;
	z-index: 9;
	right: 0;
	width: 18em
}

.search_form:active, .search_form:focus, .search_form:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

.search_form.-open {
	opacity: 1;
	visibility: visible;
	z-index: 9
}

@media ( max-width :479px) {
	.search_form {
		right: -54px
	}
}

.search_heading {
	font-size: 25px;
	line-height: 36px;
	color: #213365;
	font-family: MuseoSansRounded, Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin: 0 auto 24px
}

.search_input {
	-webkit-transition: border .2s;
	transition: border .2s;
	font-size: 20px;
	line-height: 24px;
	background: none;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid hsla(0, 0%, 100%, .24);
	color: #fff;
	margin-bottom: -1px;
	padding: 12px 48px 12px 0
}

.search_input:active, .search_input:focus, .search_input:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	-webkit-box-shadow: none;
	box-shadow: none
}

.search_input:focus {
	border-color: #fff
}

.search_input::-webkit-input-placeholder {
	color: hsla(0, 0%, 100%, .24);
	font-style: italic
}

.search_input:-ms-input-placeholder {
	color: hsla(0, 0%, 100%, .24);
	font-style: italic
}

.search_input::-ms-input-placeholder {
	color: hsla(0, 0%, 100%, .24);
	font-style: italic
}

.search_input::placeholder {
	color: hsla(0, 0%, 100%, .24);
	font-style: italic
}

.search_list {
	padding: 0
}

.search_submit {
	background: none;
	position: absolute;
	right: 12px;
	top: 12px
}

.search_submit:active, .search_submit:focus, .search_submit:hover {
	background: hsla(0, 0%, 100%, .06)
}

.search_submit:active {
	background: hsla(0, 0%, 100%, .12)
}

.search_toggle {
	background: none;
	border-radius: 0;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	min-width: 60px;
	padding: 18px 12px;
	text-align: center;
	-webkit-transition: background .2s;
	transition: background .2s
}

.search_toggle:active, .search_toggle:focus, .search_toggle:hover {
	background: hsla(0, 0%, 100%, .06);
	color: #fff
}

@media ( max-width :1247px) {
	.search_toggle {
		min-width: 48px;
		padding: 12px
	}
}

.search_toggle:active, .search_toggle:focus, .search_toggle:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

.search_toggle.-open {
	background: #494e7d;
	-webkit-box-shadow: none;
	box-shadow: none
}

.site {
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%
}

.site:active, .site:focus, .site:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

.site.-no-header {
	border-top: 12px solid #213365
}

.site_wrap {
	display: table-row;
	height: 100%
}

.tile {
	font-family: MuseoSansRounded, Arial, Helvetica, sans-serif;
	font-size: 13px;
	letter-spacing: .5px;
	text-transform: uppercase;
	background: #fff;
	background: radial-gradient(#fff 75%, #f7f7f7 100%);
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: 0 .5px 2px rgba(0, 0, 0, .18);
	box-shadow: 0 .5px 2px rgba(0, 0, 0, .18);
	color: #213365;
	float: left;
	font-weight: 700;
	height: 180px;
	line-height: 1.5;
	margin: 12px;
	padding: 36px 6px;
	text-align: center;
	-webkit-transition: -webkit-box-shadow .4s, -webkit-transform .4s;
	transition: -webkit-box-shadow .4s, -webkit-transform .4s;
	transition: box-shadow .4s, transform .4s;
	transition: box-shadow .4s, transform .4s, -webkit-box-shadow .4s,
		-webkit-transform .4s;
	vertical-align: top;
	word-spacing: -1px;
	width: 180px
}

.tile:active, .tile:focus, .tile:hover {
	-webkit-box-shadow: 0 1.5px 6px rgba(0, 0, 0, .18);
	box-shadow: 0 1.5px 6px rgba(0, 0, 0, .18);
	color: #213365;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition-duration: .2s;
	transition-duration: .2s
}

@media ( max-width :1247px) {
	.tile {
		height: 156px;
		margin: 8px;
		padding: 30px 6px;
		width: 156px
	}
}

@media ( max-width :1068px) {
	.tile {
		font-size: 11.5px;
		height: 108px;
		margin: 6px;
		padding: 24px 6px
	}
}

@media ( max-width :348px) {
	.tile {
		display: block;
		float: none;
		font-size: 13px;
		height: 54px;
		margin: 6px;
		padding: 18px 12px;
		text-align: left;
		width: auto
	}
	.tile+.tile {
		margin-top: 12px
	}
}

.tile>svg {
	display: block;
	fill: currentColor;
	margin: 0 auto 78px;
	stroke: #fff;
	stroke-width: .3px;
	-webkit-transform: scale(4);
	transform: scale(4);
	-webkit-transform-origin: center 0;
	transform-origin: center 0
}

@media ( max-width :1247px) {
	.tile>svg {
		margin: 0 auto 60px;
		-webkit-transform: scale(3.5);
		transform: scale(3.5)
	}
}

@media ( max-width :1068px) {
	.tile>svg {
		margin: 0 auto 36px;
		stroke-width: .1px;
		-webkit-transform: scale(2);
		transform: scale(2)
	}
}

@media ( max-width :348px) {
	.tile>svg {
		float: left;
		margin: -8px 24px 0 12px
	}
}

.tiles {
	margin: 0 auto;
	width: 1224px
}

@media ( max-width :1247px) {
	.tiles {
		width: 1032px
	}
}

@media ( max-width :1068px) {
	.tiles {
		width: 504px
	}
}

@media ( max-width :516px) {
	.tiles {
		width: 336px
	}
}

@media ( max-width :348px) {
	.tiles {
		width: auto
	}
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

.column {
	display: table-cell;
	padding: 0 8px;
	vertical-align: top
}

.column:after, .column:before {
	content: " ";
	display: table
}

.column:after {
	clear: both
}

@media ( max-width :1023px) {
	.column {
		display: block;
		padding: 0
	}
	.column+.column {
		border-top: 1px solid #ccc;
		margin-top: 24px;
		padding-top: 23px
	}
}

.column.-wide {
	max-width: none;
	width: 61.8%
}

@media ( max-width :1023px) {
	.column.-wide {
		width: auto
	}
}

.column:first-child {
	padding-left: 0;
	padding-right: 16px
}

@media ( max-width :1023px) {
	.column:first-child {
		padding-right: 0
	}
}

.column:last-child {
	padding-left: 16px;
	padding-right: 0
}

@media ( max-width :1023px) {
	.column:last-child {
		padding-left: 0
	}
}

.column img {
	margin: 0 0 12px
}

@media ( max-width :1023px) {
	.column img:first-child {
		float: left;
		margin: 0;
		width: 38.2%
	}
	.column img:first-child ~p{
		float: right;
		padding-left: 24px;
		width: 61.8%
	}
}

@media ( max-width :479px) {
	.column img:first-child {
		float: none;
		max-width: 240px;
		width: 100%;
		margin: 0 auto 24px
	}
	.column img:first-child ~p{
		float: none;
		padding-left: 0;
		width: auto
	}
}

.column>:last-child {
	margin-bottom: 0
}

.float-left {
	float: left;
	margin: 0 1rem 1rem 0
}

.float-right {
	float: right;
	margin: 0 0 1rem 1rem
}

.hidden {
	display: none
}

.icon {
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
	display: inline-block;
	fill: currentColor;
	height: 17px;
	position: relative;
	vertical-align: middle;
	width: 17px
}

.icon:active, .icon:focus, .icon:hover {
	-webkit-transition-duration: 0s;
	transition-duration: 0s
}

.margin-bottom {
	margin-bottom: 24px
}

.margin-top {
	margin-top: 24px
}

.narrow {
	max-width: 240px
}

.row {
	display: table;
	margin: 24px auto;
	table-layout: fixed;
	width: 100%
}

@media ( max-width :1023px) {
	.row {
		margin-left: auto;
		margin-right: auto;
		max-width: 720px;
		display: block
	}
	.site.-full-width .row {
		max-width: none
	}
}

.row:not (:first-child ){
	border-top: 1px solid #ccc;
	padding-top: 23px
}

.row:not (:last-child ){
	border-bottom: 1px solid #ccc;
	padding-bottom: 23px
}

.row.-narrow {
	max-width: 720px
}

.banner+.row {
	border-top: 0;
	padding-top: 0
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.wrap {
	margin: 0 auto;
	max-width: 1200px;
	position: relative
}

.wrap:after, .wrap:before {
	content: " ";
	display: table
}

.wrap:after {
	clear: both
}

.wrap.-narrow {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px
}

.site.-full-width .wrap, .site.-full-width .wrap.-narrow {
	max-width: none
}